body {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #232a35 !important;
  color: ghostwhite !important;
  font-family: 'Odibee Sans', cursive !important;
}

.jumbotron {
  background: url("/static/img/thumb-1920-705619.png") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  font-family: 'Odibee Sans', cursive !important;
}

.card {
  background-color: rgb(54, 58, 64) !important;
}

.gfont-odibee {
  font-family: 'Odibee Sans', cursive !important;
}