{% extends 'base.html' %}
{% block title %} <title>The Ruffian Posse</title> {% endblock %}
{% block content %}
{% load posse_filters %}

    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input class="btn-warning" type="submit" value="Posse Up!">
    </form>

    <hr>
    {% if current_applicants %}
    <h3>Pending Recruits</h3>

    <div class="col-lg-7">
        <div class="container">
            {% for toon in current_applicants %}
            <div class="card" style="width:500px">
                <img class="card-img-top" src="{{toon.character_image_url}}" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{ toon.character_name|title }} of {{ toon.character_realm|title|replace_dashes }}</h4>
                    <p>Level : {{ toon.character_level }}</p>
                    <p>Item Level : {{ toon.character_item_level_equipped }}</p>
                    <a href="{{ toon.character_armory_link }}" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if current_classes %}
    <h3>Shadowland Classes</h3>
        <h5>Main Alt can be blank</h5>

    <div class="col-lg-7">
        <div class="container">
        </table>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Current Main Name</th>
              <th scope="col">Shadowlands Main</th>
              <th scope="col">Shadowlands Main Alt</th>
            </tr>
          </thead>
          <tbody>
          {% for toon in current_classes %}
            <tr>
              <td>{{ toon.username }}</td>
              <td>{{ toon.get_shadowlands_main_display }}</td>
              <td>{{ toon.get_shadowlands_main_alt_display }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
    {% endif %}

{% endblock %}

