{% extends 'base.html' %}
{% block title %} <title>The Ruffian Posse</title> {% endblock %}
{% block content %}
{% load posse_filters %}

    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn-warning" type="submit" value="Posse Up!">
    </form>

    <hr>
    {% if current_applicants %}
    <h3>Pending Recruits</h3>

    <div class="col-lg-7">
        <div class="container">
            {% for toon in current_applicants %}
            <div class="card" style="width:500px">
                <img class="card-img-top" src="{{toon.character_image_url}}" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{ toon.character_name|title }} of {{ toon.character_realm|title|replace_dashes }}</h4>
                    <p>Level : {{ toon.character_level }}</p>
                    <p>Item Level : {{ toon.character_item_level_equipped }}</p>
                    <a href="{{ toon.character_armory_link }}" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if current_classes %}
    <h3>Shadowland Classes</h3>

    <div class="col-lg-7">
        <div class="container">
        <table>
                {% for toon in current_classes %}
                <tr>
                    <td>{{ toon.username }}</td>
                    <td>Playing</td>
                    <td>{{ toon.shadowlands_class }}</td>
                </tr>
                {% endfor %}
        </table>
        </div>
    </div>
    {% endif %}

{% endblock %}

