{% extends 'base.html' %}
{% block title %} <title>The Ruffian Posse</title> {% endblock %}
{% block content %}
{% load posse_filters %}

    <!--- Main Stuff --->
<div class="container-full">
  <div class="row">

    <div class="col-lg-7">
        <div class="container">
            <div class="card text-white mb-4  mt-3 left border-light top">
            {% for news in guild_news %}
              <div class="card-header">
                  <a class="text-decoration-none" href="{% url 'read_news' news.id %}">{{ news.news_description }}</a>
                  <p class=" text-muted">{{ news.added_by | title }} | {{ news.added_on }}</p>
              </div>
              <div class="card-body">
                <p class="card-text ">{{ news.news_body | safe | truncatewords:50 }}</p>
              </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <table border="2">
            {% for raid_name, raid_ranking_info in guild_raid_rankings.raid_rankings.items %}
            <tr>
                <th colspan="3">{{ raid_name|title|replace_dashes }}</th>
                {% for difficulty, nested_value in raid_ranking_info.items %}
                    <td>{{ difficulty|title }}: {% if nested_value.realm == 0 %}No Kills{% else %}{{ nested_value.realm }}{% endif %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <p></p>
        <table border="2">
            <tr>
                <th colspan="4">Recent Raid Logs</th>
            </tr>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Zone</th>
                <th>Links</th>
            </tr>
            {% for item in warcraft_logs %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.start | ctime }}</td>
                    <td>{{ item.zone | translate_zone_number }}
                    <td><a href="https://www.warcraftlogs.com/reports/{{ item.id }}" target="_blank"><img width="16" height="16" src="https://dmszsuqyoe6y6.cloudfront.net/img/warcraft/favicon.png"></a> <a href="https://www.wipefest.net/report/{{ item.id }}" target="_blank"><img src="https://www.wipefest.gg/favicon.ico"></a> <a href="https://www.wowanalyzer.com/report/{{ item.id }}" target="_blank"><img src="https://wowanalyzer.com/favicon.ico"></a></td>
                </tr>
            {% endfor %}
        </table>
        <p></p>
        <iframe src="https://discordapp.com/widget?id=295363255117938688&theme=dark&username=Kalinakov#7485" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>

  </div>
</div>

    <!--- END Main Stuff --->
{% endblock %}

