{% extends 'base.html' %}
{% block title %} <title>The Ruffian Posse</title> {% endblock %}
{% block content %}
{% load posse_filters %}

    <!--- Main Stuff --->

{% if guild_motd %}
    <div class="container-full">
        <div class="container">
            <div class="card text-white mb-4  mt-3 left border-light top">
              <div class="card-header">
                  <a class="text-decoration-none">Guild Message of the Day</a>
              </div>
              <div class="card-header">
                  <p class="text-muted"><small>{{ guild_motd.guild_motd_desc | title }} | {{ guild_motd.posted_on }}</small></p>
              </div>
              <div class="card-body">
                <p class="card-text ">{{ guild_motd.guild_motd | safe }}</p>
              </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container-full">
        <div class="row">
            <div class="col-lg-6">
                <table border="2">
                <tr>
                    <th>Instance Name</th>
                    <th>Best Progress</th>
                    <th>Normal Kills</th>
                    <th>Heroic Kills</th>
                    <th>Mythic Kills</th>
                </tr>
                    {% for raid_name, raid_progression_info in guild_raid_progression.raid_progression.items %}
                    <tr>
                        <td>{{ raid_name|title|replace_dashes }}</td>
                            <td>{{ raid_progression_info.summary }}</td>
                            <td>{{ raid_progression_info.normal_bosses_killed }}</td>
                            <td>{{ raid_progression_info.heroic_bosses_killed }}</td>
                            <td>{{ raid_progression_info.mythic_bosses_killed }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-6">
                <table border="2">
                    {% for raid_name, raid_ranking_info in guild_raid_rankings.raid_rankings.items %}
                    <tr>
                        <th colspan="3">{{ raid_name|title|replace_dashes }}</th>
                        {% for difficulty, nested_value in raid_ranking_info.items %}
                            <td>{{ difficulty|title }}: {% if nested_value.realm == 0 %}No Kills{% else %}{{ nested_value.realm }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
<div class="container-full">
  <div class="row">
    <div class="col-lg-7">
        <div class="container">
            {% for news in guild_news %}
            <div class="card text-white mb-4  mt-3 left border-light top">
              <div class="card-header">
                  <a class="text-decoration-none" href="{% url 'read_news' news.id %}">{{ news.news_description }}</a>
              </div>
              <div class="card-header">
                  <p class="text-muted"><small>{{ news.added_by | title }} | {{ news.added_on }}</small></p>
              </div>
              <div class="card-body">
                <p class="card-text ">{{ news.news_body | safe | truncatewords:50 }}</p>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
  <!--- raid progression --->
    <div class="col-lg-5">
        <table border="2">
            <tr>
                <th colspan="4">Recent Raid Logs</th>
            </tr>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Zone</th>
                <th>Links</th>
            </tr>
            {% for item in warcraft_logs %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.start | ctime }}</td>
                    <td>{{ item.zone | translate_zone_number }}
                    <td><a href="https://www.warcraftlogs.com/reports/{{ item.id }}" target="_blank"><img width="16" height="16" src="https://dmszsuqyoe6y6.cloudfront.net/img/warcraft/favicon.png"></a> <a href="https://www.wipefest.net/report/{{ item.id }}" target="_blank"><img src="https://www.wipefest.gg/favicon.ico"></a> <a href="https://www.wowanalyzer.com/report/{{ item.id }}" target="_blank"><img src="https://wowanalyzer.com/favicon.ico"></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </div>
</div>

    <div class="container-full">
        <div class="row">
            <div class="col-lg-7">
                <iframe src="https://discordapp.com/widget?id=295363255117938688&theme=dark&username=Kalinakov#7485" width="600" height="500" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <!--- END Main Stuff --->
{% endblock %}

